{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to ShoutBox {% endblock %}</h1>
    <h2>{% block subtitle %} A place to post messages anonymously and view them {% endblock %}</h2>
    {% for post in posts %}
        <a href="{{ url_for('post', post_id=post['id']) }}">            
            <h2>{{ post['title']}}</h2>
            {{ post['content']}}
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
    {% endfor %}
{% endblock %}